@import 'components/header';
@import 'components/banner';
@import 'components/presentacion';
@import 'components/servicios';
@import 'components/trabajos';
@import 'components/ubiyplaylist';
@import 'components/contacto';

*{
        box-sizing: border-box;
        margin: 0px;
}

.disclaimer{
        display: none;
}