@import '../base/_colores.scss';
@import '../base/_extends.scss';

/* ----------------HEADER---------------- */
/* HEADER MOBILE */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 5%;
    background-color: $negro;

    ul,
    menu {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 7px 7px;
        text-decoration: none;
        list-style-type: none;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 7px 7px;

            a {
                text-decoration: none;
                list-style-type: none;
                color: $blanco;
                @extend %fuente;
            }
        }
    }
}
/* FIN HEADER MOBILE */


/* ----------------FIN HEADER---------------- */