@import '../base/_colores.scss';
@import '../base/_extends.scss';

/* ---------------- HEADER---------------- */
/* HEADER MOBILE */
header {
    display: flex;
    @extend %centrado-columnas;
    padding: 10px 5%;
    background-color: $negro;

    ul,
    menu {
        list-style: none;
        text-decoration: none;
        display: flex;
        @extend %centrado-columnas;
        padding: 7px 7px;

        li {
            display: flex;
            @extend %centrado-columnas;
            padding: 7px 7px;

            a {
                text-decoration: none;
                color: $blanco;
                @extend %fuente;
            }
        }
    }
}
/* FIN HEADER MOBILE */

/* HEADER DESKTOP */
@media screen and (min-width: 992px) {
    .header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 10px 5%;
        background-color: $negro;

        .menu {
            flex-direction: row;
            justify-content: flex-end;
            padding: 7px 7px;

            li {
                padding: 7px 7px;
            }
        }
    }
}
/* FIN HEADER DESKTOP */
/* ----------------FIN HEADER---------------- */