@import '../base/_colores.scss';
@import '../base/_extends.scss';
@import '../base/_mixins.scss';

.servicios {
    display: grid;
    grid-template-areas:
        "servicios servicios"
        "ofrecemos ofrecemos"
        "semi capgel"
        "texto1 texto2";
    background-color: $rosa;

    .titulo-servicios {
        display: flex;
        @extend %fuente;
        color: $negro;
        margin: 40px 30px;
        justify-content: flex-start;
        display: grid;
        grid-area: servicios;
    }

    .subtitulo-servicios {
        display: flex;
        @extend %fuente;
        grid-area: ofrecemos ofrecemos ofrecemos;
        margin: 10px 30px;
        grid-area: ofrecemos;
        color: $negro;
    }

    .semi {
      

        .encabezado-semi {
            @extend %fuente;
            padding: 20px;
            display: flex;
            grid-area: semi;
            color: $negro;
        }

        .texto-semi {
            display: flex;
            @extend %fuente;
            padding: 20px;
            font-size: 20px;
            line-height: 25px;
            grid-area: texto1;
            color: $negro;
        }

    }

    .capping {


        .encabezado-capping {
            display: flex;
            @extend %fuente;
            padding: 20px;
            grid-area: capgel;
            color: negro;
        }

        .texto-capping {
            display: flex;
            @extend %fuente;
            padding: 20px;
            font-size: 20px;
            line-height: 25px;
            grid-area: texto2;
            color: $negro;
        }
    }

}