@import '../base/_colores.scss';
@import '../base/_extends.scss';
@import '../base/_mixins.scss';


/* SERVICIOS MOBILE */
.servicios{
    display: grid;
    grid-template-areas:
        "servicios"
        "ofrecemos"
        "semi"
        "texto1"
        "capgel"
        "texto2";
    background-color: $rosa;

    .titulo-servicios {
        padding: 30px 0px 30px 10px;
        display: flex;
        @extend %fuente;
        color: $negro;
        justify-content: flex-start;
        display: grid;
        grid-area: servicios;
    }

    .subtitulo-servicios {
        padding: 30px 0px 30px 10px;
        display: flex;
        @extend %fuente;
        grid-area: ofrecemos;
        color: $negro;
        font-size: 20px;
    }

    .semi {
      

        .encabezado-semi {
            padding: 30px 10px 30px 10px;
            @extend %fuente;
            font-size: 20px;
            display: flex;
            grid-area: semi;
            color: $negro;
        }

        .texto-semi {
            padding: 30px 10px 30px 10px;
            display: flex;
            @extend %fuente;
            font-size: 20px;
            line-height: 25px;
            grid-area: texto1;
            color: $negro;
        }

    }

    .capping {


        .encabezado-capping {
            padding: 30px 10px 30px 10px;
            display: flex;
            font-size: 20px;
            @extend %fuente;
            grid-area: capgel;
            color: negro;
        }

        .texto-capping {
            padding: 30px 10px 30px 10px;
            display: flex;
            @extend %fuente;
            font-size: 20px;
            line-height: 25px;
            grid-area: texto2;
            color: $negro;
        }
    }

}
/* FIN SERVICIOS MOBILE */

/* SERVICIOS DESKTOP */
@media screen and (min-width: 992px) {
    .servicios {
        display: grid;
        grid-template-areas:
            "servicios servicios"
            "ofrecemos ofrecemos"
            "semi capgel"
            "texto1 texto2";
        background-color: $rosa;
    
        .titulo-servicios {
            padding: 40px 30px 10px 30px;
            display: flex;
            color: $negro;
            justify-content: flex-start;
            display: grid;
            grid-area: servicios;
        }
    
        .subtitulo-servicios {
            padding: 20px 30px;
            display: flex;
            font-size: 20px;
            grid-area: ofrecemos;
            color: $negro;
        }
    
        .semi {
          
    
            .encabezado-semi {
                padding: 10px 30px;
                display: flex;
                grid-area: semi;
                color: $negro;
                font-size: 30px;
                font-weight: bold;
            }
    
            .texto-semi {
                padding: 10px 20px 40px 30px;
                display: flex;

                font-size: 20px;
                line-height: 25px;
                grid-area: texto1;
                color: $negro;
            }
    
        }
    
        .capping {
    
    
            .encabezado-capping {
                padding: 10px 30px;
                display: flex;
                grid-area: capgel;
                color: negro;
                font-size: 30px;
                font-weight: bold;
            }
    
            .texto-capping {
                padding: 10px 20px 40px 30px;
                display: flex;
                font-size: 20px;
                line-height: 25px;
                grid-area: texto2;
                color: $negro;
            }
    
}
    }}
/* FIN SERVICIOS DESKTOP */