@import '../base/_colores.scss';
@import '../base/_extends.scss';

/* ----------------TRABAJOS--------------- */
/*TRABAJOS MOBILE*/
#trabajos {
    background-color: $negro;

    .titulo-trabajo {
        padding: 40px 0px 0px 0px;
        display: flex;
        @extend %fuente;
        margin: 0px 30px 40px 30px;
        justify-content: flex-start;
        color: $rosa;
        background-color: $negro;
    }

    .trabajos-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .foto-trabajo {
            border: 1px solid $rosa;
            margin: 20px 0px;
        }
    }

    .trabajos-desktop {
        display: none;
    }

    .bloque-texto-trabajo {

        display: flex;
        flex-direction: column;
        align-items: center;

        .texto-trabajo {
            padding: 10px;
            font-size: 20px;
            display: flex;
            align-items: center;
            text-align: center;
            color: $rosa;
            line-height: 25px;
            font-family: 'Raleway', sans-serif;
            font-weight: bold
        }

        .a-trabajos {
            padding: 2.5px 10px 20px 10px;
            line-height: 25px;
            font-size: 20px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            text-decoration: underline;
            color: $rosa;
            font-family: 'Raleway', sans-serif;
            font-weight: bold
        }

    }
}
/* FIN TRABAJOS MOBILE */

/* TRABAJOS DESKTOP */
@media screen and (min-width: 992px) {
    #trabajos {
        background-color: $negro;

        .titulo-trabajo {
            padding: 40px 0px 0px 0px;
            display: flex;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            margin: 0px 30px 40px 30px;
            justify-content: flex-start;
            color: $rosa;
            background-color: $negro;
        }


        .trabajos-mobile {
            display: none;
        }


        .trabajos-desktop {
            display: block;
            padding: 20px;

            .trabajos-desktop-dos {
                display: flex;
                justify-content: space-around;
                flex-direction: row;

                .ft-cinco {
                    border: 1px solid $negro;
                    margin: 20px 0px;

                    &:hover {
                        transform: scale(2);
                        transition: all 2s;
                    }
                }

                .ft-seis {
                    border: 1px solid $negro;
                    margin: 20px 0px;

                    &:hover {
                        transform: scale(2);
                        transition: all 2s;
                    }
                }

                .ft-siete {
                    border: 1px solid $negro;
                    margin: 20px 0px;

                    &:hover {
                        transform: scale(2);
                        transition: all 2s;
                    }
                }
            }

            .trabajos-desktop-tres {
                display: flex;
                justify-content: space-around;
                flex-direction: row;

                .ft-ocho {
                    border: 1px solid $negro;
                    margin: 20px 0px;

                    &:hover {
                        transform: scale(2);
                        transition: all 2s;
                    }
                }

                .ft-nueve {
                    border: 1px solid $negro;
                    margin: 20px 0px;

                    &:hover {
                        transform: scale(2);
                        transition: all 2s;
                    }
                }

                .ft-diez {
                    border: 1px solid $negro;
                    margin: 20px 0px;

                    &:hover {
                        transform: scale(2);
                        transition: all 2s;
                    }
                }


            }


            .trabajos-desktop-cuatro {
                display: flex;
                justify-content: space-around;
                flex-direction: row;

                .ft-once {
                    border: 1px solid $negro;
                    margin: 20px 0px;

                    &:hover {
                        transform: scale(2);
                        transition: all 2s;
                    }
                }

                .ft-doce {
                    border: 1px solid $negro;
                    margin: 20px 0px;

                    &:hover {
                        transform: scale(2);
                        transition: all 2s;
                    }
                }

                .ft-trece {
                    border: 1px solid $negro;
                    margin: 20px 0px;

                    &:hover {
                        transform: scale(2);
                        transition: all 2s;
                    }
                }
            }


            .trabajos-desktop-cinco {
                display: flex;
                justify-content: space-around;
                flex-direction: row;

                .ft-catorce {
                    border: 1px solid $negro;
                    margin: 20px 0px;

                    &:hover {
                        transform: scale(2);
                        transition: all 2s;
                    }
                }

                .ft-quince {
                    border: 1px solid $negro;
                    margin: 20px 0px;

                    &:hover {
                        transform: scale(2);
                        transition: all 2s;
                    }
                }

                .ft-dieciseis {
                    border: 1px solid $negro;
                    margin: 20px 0px;

                    &:hover {
                        transform: scale(2);
                        transition: all 2s;
                    }
                }


            }



        }

        .bloque-texto-trabajo {

            display: flex;
            flex-direction: column;
            align-items: center;

            .texto-trabajo {
                padding: 10px;
                display: flex;
                align-items: center;
                text-align: center;
                color: $rosa;
                line-height: 25px;
                font-family: 'Raleway', sans-serif;
                font-weight: bold
            }

            .a-trabajos {
                padding: 2.5px 10px 20px 10px;
                line-height: 25px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                text-decoration: underline;
                color: $rosa;
                font-family: 'Raleway', sans-serif;
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
}
/* FIN TRABAJOS DESKTOP */