@import '../base/_colores.scss';
@import '../base/_extends.scss';

/* ----------------UBICACIÓN Y PLAYLIST--------------- */
.playlist-ubicacion {
    background-color: #FFDEE6;
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-areas:
        "playlist ubicacion";

    #playlist {
        display: flex;
        flex-direction: column;
        grid-area: playlist;

        .titulo-playlist {
            display: flex;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            color: black;
            padding: 20px 0px 20px 40px;
        }

        .spotify {
            padding: 20px 5px 20px 5px;
        }
    }

    /*** UBICACIÓN ***/
    #ubicacion {
        display: grid;
        grid-area: ubicacion;
        grid-template-areas:
            "titulo"
            "mapa";

        .ubicacion-titulo {
            display: flex;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            grid-area: titulo;
            color: black;
            padding: 20px 0px;
        }

        .mapa {
            padding: 20px 5px 20px 5px;
        }
    }
}